.container {
    width: 600px;
    height: 300px;
    padding: 20px;
    margin: 100px auto;
    border: 1px solid #ccc;
}
.container h3 {
    text-align: center;
}
.container span {
    line-height: 1.5em;
}
.container button{
    width: 80px;
    height: 40px;
    cursor: pointer;
}